@model Drug
@{
}
@* <form method="Post" action="~/Department/Edit"></form> *@
@* by default ->post with the same name of the current action in the url *@
@using (Html.BeginForm(@* "Edit","Department",FormMethod.Post *@
))
{



    @Html.LabelFor(d => d.ID)
    @Html.EditorFor(d => d.ID, new { htmlAttributes = new { @class = "form-control" } })
    @* <label for="Name">Name</label>
<input type="text" id="Name" name="Name" value="@ViewBag.dd.Name" class="form-control" /> *@

    @Html.LabelFor(d => d.Name)
    @Html.TextBoxFor(d => d.Name, htmlAttributes: new { @class = "form-control" })

    @* <label for="ImagePath">Image Path</label>
<input type="text" id="ImagePath" name="ImagePath" value="@ViewBag.dd.ImagePath" class="form-control" /> *@

    @Html.LabelFor(d => d.ImagePath)
    @Html.TextBoxFor(d => d.ImagePath, htmlAttributes: new { @class = "form-control" })

    @* <label for="CompanyName">Company Name</label>
<input type="text" id="CompanyName" name="CompanyName" value="@ViewBag.dd.CompanyName" class="form-control" /> *@
    @Html.LabelFor(d => d.CompanyName)
    @Html.TextBoxFor(d => d.CompanyName, htmlAttributes: new { @class = "form-control" })


    @* <label for="ManufactureDate">Manufacture Date</label>
<input type="date" id="ManufactureDate" name="ManufactureDate"
value="@ViewBag.dd.ManufactureDate.ToString("yyyy-MM-dd")" class="form-control" /> *@
    @Html.LabelFor(d => d.ManufactureDate)
    @Html.TextBoxFor(d => d.ManufactureDate, htmlAttributes: new { @class = "form-control" })


    @* <label for="ExpirationDate">Expiration Date</label>
<input type="date" id="ExpirationDate" name="ExpirationDate" value="@ViewBag.dd.ExpirationDate.ToString("yyyy-MM-dd")"
class="form-control" /> *@

    @Html.LabelFor(d => d.ExpirationDate)
    @Html.TextBoxFor(d => d.ExpirationDate, htmlAttributes: new { @class = "form-control" })



    <input type="submit" class="btn btn-dark" value="Edit" />
}
<a href="~/Drug">Go back to Getall</a>